# 장르/키워드 데이터 가공

kaggle의 The Movies Dataset을 사용한다.
참고 교재인 '파이썬 머신러닝 완벽 가이드'에서는 다른 데이터셋을 사용하기에 데이터 가공 과정은 약간 달리한다.

In [32]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

md = pd.read_csv('../movies_metadata.csv')
link_small = pd.read_csv('../links_small.csv')
link_small = link_small[link_small['tmdbId'].notnull()]['tmdbId'].astype('int')
md = md.drop([19730, 29503, 35587])
md['id'] = md['id'].astype('int')
movies = md[md['id'].isin(link_small)]

print(movies.shape)
movies.head(1)

#데이터셋 로드

(9099, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear o...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0

In [33]:
movies_df = movies[['id', 'title', 'genres', 'vote_average', 'vote_count', 'popularity', 'overview']] #필요한 요소만 뽑아오기

In [34]:
pd.set_option('max_colwidth', 100)
movies_df[['genres']][:1]

#데이터 한 줄 살펴보기

                                                                                             genres
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [35]:
import json

with open('../keywords.json', encoding='utf-8') as f:
  js = json.loads(f.read())
keywords_df = pd.DataFrame(js)

#json으로 미리 변환해둔 csv 파일을 열며 바로 데이터프레임으로 만들기

In [36]:
pd.set_option('max_colwidth', 100)
keywords_df[['keywords']][:1]

#마찬가지로 데이터 형식 한 줄 뽑아서 살펴보기

                                                                                              keywords
0  [{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id...

In [37]:
movies_df.id = pd.to_numeric(movies_df.id, errors='coerce')
keywords_df.id = pd.to_numeric(keywords_df.id, errors='coerce')

#둘 다 id를 숫자형으로 바꾸기

movies_metadata.csv의 'genres' 항목과 keywords.csv(.json)의 'keywords' 항목을 한 데이터프레임에 합치려 한다. 이때 공통되는 id를 이용해 합쳐야 하므로 데이터 형식을 숫자형으로 맞추었다.

In [38]:
movies_df = pd.merge(movies_df, keywords_df, on = 'id', how = 'inner') #영화 데이터프레임과 키워드 데이터프레임을 id로 합치기

movies_df.head() #형식 확인

,id,title,genres,vote_average,vote_count,popularity,overview,keywords
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]",7.7,5415.0,21.946943,"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear o...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id..."
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]",6.9,2413.0,17.015539,When siblings Judy and Peter discover an enchanted board game that opens the door to a magical w...,"[{'id': 10090, 'name': 'board game'}, {'id': 10941, 'name': 'disappearance'}, {'id': 15101, 'nam..."
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",6.5,92.0,11.7129,A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John...,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392, 'name': 'best friend'}, {'id': 179431, 'name': '..."
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10749, 'name': 'Romance'}]",6.1,34.0,3.859495,"Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusi...","[{'id': 818, 'name': 'based on novel'}, {'id': 10131, 'name': 'interracial relationship'}, {'id'..."
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",5.7,173.0,8.387519,"Just when George Banks has recovered from his daughter's wedding, he receives the news that she'...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'name': 'midlife crisis'}, {'id': 2246, 'name': 'con..."

여기서 볼 수 있듯, genre와 keyword 모두 [리스트] 안에 {'key': value 형식의 딕셔너리}형태로 존재한다. 우리는 여기서 value 값들만 따로 사용해야 한다.

In [39]:
from ast import literal_eval

movies_df['genres']=movies_df['genres'].apply(literal_eval)
movies_df['keywords']=keywords_df['keywords'].apply(literal_eval) #genres, keywords 칼럼의 문자열을 리스트 객체로 변환
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]","[{'id': 931, 'name': 'jealousy'}, {'id': 4290, 'name': 'toy'}, {'id': 5202, 'name': 'boy'}, {'id..."

In [40]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else []) #name 키에 해당하는 value 추출하여 리스트 객체로 변환
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [41]:
movies_df['keywords'].head()

0          [jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, toy comes to life]
1                 [board game, disappearance, based on children's book, new home, recluse, giant insect]
2                                                  [fishing, best friend, duringcreditsstinger, old men]
3                        [based on novel, interracial relationship, single mother, divorce, chick flick]
4    [baby, midlife crisis, confidence, aging, daughter, mother daughter relationship, pregnancy, con...
Name: keywords, dtype: object

In [42]:
movies_df['genres'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres, dtype: object

In [43]:
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, rivalry, boy next door, new toy, toy comes to life]"

# 장르 콘텐츠 유사도 측정

genres를 문자열로 변경하고, 이를 CountVectorizer로 피처 벡터화한 다음, 행렬 데이터 값을 코사인 유사도로 비교하겠다. 장르 면에서 유사도가 높은 영화 중 평점이 높은 순으로 추천하는 알고리즘을 구현한다.

In [44]:
from sklearn.feature_extraction.text import CountVectorizer

#CountVenctorizer를 적용하기 위해 공백문자로 word 단위가 구분되는 문자열로 변환.
movies_df['genres'] = movies_df['genres'].apply(lambda x : (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2), stop_words='english')
genre_mat=count_vect.fit_transform(movies_df['genres'])
print(genre_mat.shape)

(9151, 331)

이제 cosine_similiarity() 함수를 이용해 코사인 유사도를 계산하겠다.

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(9151, 9151)
[[1.         0.2        0.25819889 ... 0.         0.         0.        ]]

In [46]:
genre_sim_sorted_ind=genre_sim.argsort()[:, ::-1]  #높은 순으로 정렬된 비교 행 위치 인덱스값을 가져오고, 그 중 0번 레코드의 비교 행 위치 인덱스 값만 샘플로 추출
print(genre_sim_sorted_ind[:1])

[[   0 4313 8455 ... 4372 4374 9150]]

# 장르 콘텐츠 필터링을 이용한 영화 추천

In [47]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10): #장르 유사도에 따라 영화를 추천하는 함수
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [48]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10) #영화 '대부'와 장르별로 유사한 영화 10개 추천.
similar_movies[['title', 'vote_average']]

[[6938 3531 5871 5868 2796 7696 8677 4448 5340  154]]

                 title  vote_average
6938                21           6.5
3531             Ariel           7.1
5871     Light Sleeper           5.7
5868          Homicide           5.9
2796  Midnight Express           7.6
7696  London Boulevard           5.7
8677          The Drop           6.7
4448       City of God           8.2
5340      Mean Streets           7.2
154               Kids           6.8

그러나 위의 추천 결과에서는 대부와 비슷하지 않은 영화도 추천된다. 또한 평점이 0점인 영화가 추천되기도 했다. 소수의 인원이 높은 점수를 준 탓에 고평가된 결과도 끼어 있다. 그러니 가중치를 조절하여 평점 투표 횟수가 많은 영화를 추출해보자.

In [49]:
movies_df[['title', 'vote_average', 'vote_count']].sort_values('vote_average', ascending=False)[:10]

                                         title  vote_average  vote_count
631     Carmen Miranda: Bananas Is My Business          10.0         1.0
6832                   Chilly Scenes of Winter          10.0         1.0
9135                       Survive and Advance          10.0         2.0
5852    Common Threads: Stories from the Quilt          10.0         2.0
610   The Haunted World of Edward D. Wood, Jr.          10.0         1.0
1450                     Dancer, Texas Pop. 81          10.0         1.0
167                                   Reckless          10.0         1.0
8026                             The Civil War           9.2        15.0
8418           Family Band: The Cowsills Story           9.0         1.0
8230                      Little Miss Broadway           9.0         2.0

In [50]:
C = movies_df['vote_average'].mean()
m=movies_df['vote_count'].quantile(0.6)
#여기서 m값을 높이면 평점 투표 횟수가 많은 영화에 더 많은 가중 평점을 부여한다. quantile() 함수를 이용해 상위 n%를 지정한다. 0.6이 60%.
print('C:', round(C,3), 'm:', round(m,3))

C: 6.359 m: 155.0

In [51]:
percentile = 0.6

m=movies_df['vote_count'].quantile(percentile)
C=movies_df['vote_average'].mean()

def weighted_vote_average(record): #가중 평점이 반영된 새 추천 함수
    v = record['vote_count']
    R = record['vote_average']
    
    return( (v/(v+m)) * R) + ((m/(m+v)) * C)


movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [52]:
movies_df[['title', 'vote_average', 'weighted_vote', 'vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
284   The Shawshank Redemption           8.5       8.461019      8358.0
695              The Godfather           8.5       8.446294      6024.0
6933           The Dark Knight           8.3       8.275785     12269.0
2378                Fight Club           8.3       8.269404      9678.0
266               Pulp Fiction           8.3       8.265910      8670.0
472           Schindler's List           8.3       8.234470      4436.0
8633                  Whiplash           8.3       8.233603      4376.0
4241             Spirited Away           8.3       8.227032      3968.0
1844         Life Is Beautiful           8.3       8.220788      3643.0
982     The Godfather: Part II           8.3       8.215800      3418.0

이제 weighted_vote 칼럼 값이 높은 순으로 top_n만큼 추출하도록 find_sim_movie() 함수를 변경한다. 그리고 다시 '대부'와 유사한 영화를 추출해보자.

In [53]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [59]:
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                    title  vote_average  weighted_vote
974            GoodFellas           8.2       8.115227
4448          City of God           8.2       8.057824
4430  Catch Me If You Can           7.7       7.648957
2796     Midnight Express           7.6       7.185460
378          A Bronx Tale           7.4       7.131982
5340         Mean Streets           7.2       6.946407
1768             Rounders           6.9       6.761639
8677             The Drop           6.7       6.647883
154                  Kids           6.8       6.642881
7068             Gomorrah           6.7       6.562019